[Desktop Entry]
Name=VortexPlayer
Comment=High-Performance Modern Rust Media Player
Exec=vortex-player-egui %U
Icon=vortex-player
Terminal=false
Type=Application
Categories=AudioVideo;Player;Video;Audio;
MimeType=video/mp4;video/mkv;video/x-matroska;video/webm;video/quicktime;audio/flac;audio/mp3;audio/aac;audio/ogg;audio/wav;
StartupWMClass=vortex-player-egui
